<tr>
    <td class="cart-item-img">
        <a href="single-product.html">
            <%= image_tag 'cart/3.png' %>
        </a>
    </td>
    <td class="cart-product-name">
        <a href="single-product.html">Cras neque metus</a>
    </td>
    <td class="edit">
        <a href="#">Edit</a>
    </td>
    <td class="move-wishlist">
        <a href="#">Move</a>
    </td>
    <td class="unit-price">
        <span>$174.00</span>
    </td>
    <td class="quantity">
        <span>1</span>
    </td>
    <td class="subtotal">
        <span>$174.00</span>
    </td>
    <td class="remove-icon">
        <a href="#">
            <%= image_tag 'cart/btn_remove.png' %>
        </a>
    </td>
</tr>
<tr>
    <td class="cart-item-img">
        <a href="single-product.html">
            <%= image_tag 'cart/4.png' %>
        </a>
    </td>
    <td class="cart-product-name">
        <a href="single-product.html">Cras neque metus</a>
    </td>
    <td class="edit">
        <a href="#">Edit</a>
    </td>
    <td class="move-wishlist">
        <a href="#">Move</a>
    </td>
    <td class="unit-price">
        <span>$174.00</span>
    </td>
    <td class="quantity">
        <span>1</span>
    </td>
    <td class="subtotal">
        <span>$174.00</span>
    </td>
    <td class="remove-icon">
        <a href="#">
            <%= image_tag 'cart/btn_remove.png' %>
        </a>
    </td>
</tr>
<tr>
    <td class="cart-item-img">
        <a href="single-product.html">
        <%= image_tag 'cart/5.png' %>
        </a>
    </td>
    <td class="cart-product-name">
        <a href="single-product.html">Cras neque metus</a>
    </td>
    <td class="edit">
        <a href="#">Edit</a>
    </td>
    <td class="move-wishlist">
        <a href="#">Move</a>
    </td>
    <td class="unit-price">
        <span>$275.00</span>
    </td>
    <td class="quantity">
        <span>2</span>
    </td>
    <td class="subtotal">
        <span>$350.00</span>
    </td>
    <td class="remove-icon">
        <a href="#">
            <%= image_tag 'cart/btn_remove.png' %>
        </a>
    </td>
</tr>